html {
    height: 100%;
}

body {
    height: 95%;
    width: 95%;
    /*background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%);*/
}

.image-box {
    position:relative;
    height: 300px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-position: center;
    background-color: #4D4E56;
}

.sprite {
    width: 720px;
    height: 540px;
    position: absolute;
    top: -15%;
    left: 0%;
    transform: translate(-50%, -50%);
    background-image: url('./merge_fan-animation.png');
    transform: scale(0.25);
  /*animation: playFan 0.33s steps(11) infinite;*/
}
