@font-face {
        font-family: "Dolce";
        src: url("../fonts/Dolce Vita Heavy Bold.ttf");
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #c8a2c8;
    font-family: "Trebuchet MS";
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
  z-index: 10;
  position: absolute;
  left: 38%;
  top: 25px;
  text-shadow: -2px 0px #3c3c3b, 0 2px #3c3c3b, 2px 0 #3c3c3b, 0 -2px #3c3c3b;
}

.framesCont {
    width: 80%;
    margin: 50px auto;
}

.framesCont img {
    width: 100%;
}

#tanques {
    z-index: 10;
    position: absolute;
    width: 90%;
}

#entradaA, #entradaB, #salidaA, #salidaB, #manometroA, #manometroB {
    z-index: 0;
    position: absolute;
    width: 90%;
}

#compresor {
    z-index: 10;
    position: absolute;
    width: 90%;
}

#nivelA, #nivelB {
    z-index: 20;
    position: absolute;
    width: 90%;
}
