html {
    background: #368f3f url('../img/ECO-WALLPAPER.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    background-color: #82bc00;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(5px); /* account for the height of the clock hands */
  }

  .hour-hand {
    width: 40%;
    height: 15px;
    border-radius: 15px;
    background: black;
    position: absolute;
    top: 50%;
    left: 10%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .min-hand {
    width: 50%;
    height: 10px;
    border-radius: 15px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .second-hand {
    width: 50%;
    height: 4px;
    border-radius: 15px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
