@font-face {
        font-family: "Dolce";
        src: url("../fonts/Dolce Vita Heavy Bold.ttf");
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #c8a2c8;
    font-family: "Trebuchet MS";
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
  z-index: 10;
  position: absolute;
  left: 28%;
  top: 25px;
  text-shadow: -2px 0px #3c3c3b, 0 2px #3c3c3b, 2px 0 #3c3c3b, 0 -2px #3c3c3b;
}

.framesCont {
    width: 80%;
    margin: 50px auto;
}

.framesCont img {
    width: 100%;
}

#tanques {
    z-index: 10;
    position: absolute;
    width: 90%;
}

#focoT1, #focoT2, #focoT3, #focoT4, #focoT5 {
    z-index: 20;
    position: absolute;
    width: 90%;
}

#entradaCompresor, #salidaRecirculado, #entradaSMaker, #salidaSMaker, #entradaRecirculado {
    z-index: 0;
    position: absolute;
    width: 90%;
}

#nivelT1 {
    z-index: 20;
    position: absolute;
    left: 37%;
    top: 250px;
    width: 4%;
}

#nivelT2 {
    z-index: 20;
    position: absolute;
    left: 45%;
    top: 250px;
    width: 4%;
}

#nivelT3 {
    z-index: 20;
    position: absolute;
    left: 57%;
    top: 250px;
    width: 4%;
}

#nivelT4 {
    z-index: 20;
    position: absolute;
    left: 66%;
    top: 250px;
    width: 4%;
}


#nivelT5 {
    z-index: 20;
    position: absolute;
    left: 73%;
    top: 250px;
    width: 4%;
}

#nivelTA {
    z-index: 20;
    position: absolute;
    left: 85.5%;
    top: 465px;
    width: 4%;
}

#nivelTB {
    z-index: 20;
    position: absolute;
    left: 24%;
    top: 250px;
    width: 4%;
}
