body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #368f3f;
}

.dataCont {
    width: 80%;
    margin: 50px auto;
    margin-top: 25px;
}

.framesCont {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 0;
}

.dataTemp, .dataHum, .dataCO2, .dataLoc {
    float: left;
    width: 25%;
}

.dataCont div img {
    width: 40%;
    float: left;
    padding: 20px 5%;
}

.dataCont div p {
    width: 40%;
    float: left;
    padding: 20px 5%;
}

.dataLoc img {
    width: 100% !important;
    padding: 20px 5% !important;
}

.framesCont img {
    width: 100%;
}

.tittle {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

#img-background {
    border: 5px solid #3c3c3b;
}

#ventiladores {
    z-index: 10;
    position: absolute;
    left: 10.35%;
    top: 235px;
    width: 80%;
}

#plantas {
    z-index: 20;
    position: absolute;
    left: 10.35%;
    top: 235px;
    width: 80%;
}

#riego {
    z-index: 30;
    position: absolute;
    left: 10.35%;
    top: 235px;
    width: 80%;
}

#luces {
    z-index: 40;
    position: absolute;
    left: 10.35%;
    top: 235px;
    width: 80%;
}
