body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #368f3f;
}

.dataCont {
    width: 80%;
    margin: 50px auto;
    margin-top: 25px;
    color: white;
    font-size: 20px;
}

.framesCont {
    width: 70%;
    margin: 50px auto;
    margin-left: 0;
    margin-bottom: 0;
}

.dataTemp, .dataHum, .dataCO2, .dataLoc {
    float: left;
    width: 20%;
}

.ventilador1, .ventilador2 {
    float: left;
    width: 15%;
}

.dataCont div img {
    width: 40%;
    float: left;
    padding: 20px 5%;
}

.dataCont div p {
    width: 40%;
    float: left;
    padding: 20px 5%;
}

.dataLoc img {
    width: 100% !important;
    padding: 20px 5% !important;
}

.dataContainer {
    float: right;
    width: 30%;
}

.dataContainer img {
    width: 100% !important;
    padding: 20px 5% !important;
}

.framesCont img {
    width: 100%;
}

.tittle {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

#img-background {
    border: 5px solid black;
    position: absolute;
    left: 0.35%;
    top: 220px;
    width: 70%;
}

#ventiladores {
    z-index: 10;
    position: absolute;
    left: 0.7%;
    top: 220px;
    width: 70%;
}

#plantas {
    z-index: 20;
    position: absolute;
    left: 0.7%;
    top: 220px;
    width: 70%;
}

#riego {
    z-index: 30;
    position: absolute;
    left: 0.7%;
    top: 220px;
    width: 70%;
}

#luces {
    z-index: 40;
    position: absolute;
    left: 0.7%;
    top: 220px;
    width: 70%;
}

#container, #OutLine, #Rec1, #Rec2, #Rec3, #Rec4, #Rec5, #Rec6, #Rec7, #Rec8 {
    z-index: 10;
    position: absolute;
    left: 73%;
    top: 225px;
    width: 24%;
}

#medTemp {
    z-index: 10;
    position: absolute;
    left: 7%;
    top: 60px;
    width: 8%;
}

#medHum {
    z-index: 10;
    position: absolute;
    left: 23%;
    top: 60px;
    width: 8%;
}

#medHum_background {
    z-index: 0;
    position: absolute;
    left: 23%;
    top: 60px;
    width: 8%;
}

#medCO2 {
    z-index: 10;
    position: absolute;
    left: 41%;
    top: 60px;
    width: 8%;
}

#vent1 {
    z-index: 10;
    position: absolute;
    left: 59.5%;
    top: 80px;
    width: 5%;
}

#vent2 {
    z-index: 10;
    position: absolute;
    left: 78%;
    top: 80px;
    width: 5%;
}
